<ion-view view-title="环形图（Doughnut chart）">
    <ion-content  class="padding">
        <div>
            <h4 style="font-weight:bold;">
                简介
            </h4>
            <p>
                Doughnut charts are similar to pie charts, however they have the centre cut out, and are therefore shaped more like a doughnut than a pie!
                They are aso excellent at showing the relational proportions between data.
            </p>
            <h4 style="font-weight:bold;">
                使用案例
            </h4>

        </div>
        <div style="text-algin:center;margin-left: 5%">
            <canvas id="canvas" height="225" width="300"></canvas>
        </div>
        <div style="vertical-align: bottom">
            <p>
               <span  style="font-weight:bold;">控制分隔线显示/隐藏</span>
                <br/>
                segmentShowStroke : true
            </p>
            <p>
                <span  style="font-weight:bold;">控制分隔线显示/隐藏</span>
                <br/>
                   animateRotate : true
               </p>
        </div>
    </ion-content>
</ion-view>