/* Empty. Add your own CSS if you like */

.passcode-input {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 70px;
    background-color: #fff;
    margin: 0 auto;
    color: #000000;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.bg-red {
  background-color: red;
}
.bg-yellow {
  background-color: yellow;
}

.lg-1 {
  border:0px;
  width: auto;
}


.fs1{
  margin: 5px 5px 0px 10px;
  background-color: rgba(217,217,217,0.5);
}

div{
  margin-bottom: 10px;
}

.width-90 {
  width: 90%;
}
